html, body {
  background-color: #8f8f8f;
  font-family: 'Cascadia Code', 'Consolas';
  font-weight: 100;
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  background-color: #fff;
  font-weight: 500;
  font-size: large;
  top: 0;
}

.click {
  /* background-color: #888f8f8f; */
  background-color: #000;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.home {
  height: 90vh;
}

.article {
  height: 100vh;
  border-radius: 10px;
  margin: 10px 0;
}

.footer {
  background-color: #303030;
  text-align: center;
  color: #8f8f8f;
  padding: 10px;
}



