body {
  background-color: #EDEDED;
  color: #636770;
  font-family: Cascadia Code;
  font-weight: 100;
}

nav {
  background-color: #C0C0C0;
  font-weight: 500;
  font-size: large;
}

.home {
  height: 200px;
}