/* #4ecdc4
*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #292f36;
  color: #f7fff7;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: monospace;
  font-size: large;
  margin: 0;
  padding: 0;
}

header {
  position:fixed;
  background-color: #4ecdc4;
  width: 100vw;
}

.topnav {
  display: flex;
  justify-content: center;
}

.topnav a {
  color: #292f36;
  text-align: center;
  padding: 14px 16px;
  width: 15vw;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #292f36;
  color: #f7fff7;
}

.home {
  display: flex;
  /* border: solid white; */
}

.profile {
  display: flex;
  flex: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  border-right: solid #4ecdc4;
  margin: 100px 0;
}

.profile-pic {
  border-radius: 50%;
}

.about {
  display: flex;
  flex: 60%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.content p {
  padding: 20px;
  text-align: center;
}

.skill-list {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  /* border: solid blue; */
}

.skill-item {
  /* border: solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img, .exp-img {
  height: 100px;
}

.exp-list {
  display: flex;
  flex-direction: column;
}

.exp-item {
  margin: 20px 0;
  display: flex;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #4ecdc4;
  color: #292f36;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px){
  .home {
    flex-direction: column;
  }

  .profile {
    border-right: none;
    /* border: solid white; */
    margin-top: 100px;
  }

  .about {
    border-bottom: solid #4ecdc4;
    /* border: solid white; */
    margin-bottom: 20px;
    /* padding: 20px; */
  }

  .skill-list {
    flex-direction: column;
    align-items: center;
  }
}